body{
    position:relative;
    height:100%;
   background-color:antiquewhite;
    margin: 0px;
}
  /*页眉区，与前面的一样*/
  header {
    background: url(../image/Snoopy.png) no-repeat;
    background-position:right;
    background-size: 50px 50px;
  
  }
  header h1{
      font-family:sans-serif;
      color:coral;
      font-size:small/3.0em;
      
      
  }
  /*导航区的，与前面一样*/
  nav{
      
      width: 100%;
      position:relative;  
     
  }
   nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:darksalmon;
    }
    
   nav  ul li {
      display:inline;
      width:25%;
      height:100%;
      float:left;
      text-align: center;
      line-height: 400%;
      color: rgb(255, 255, 255);
      font-family:  Verdana;
    }
    
  nav ul li a {
      display:block;
      color: white;
      text-decoration: none;
      text-align: center;
      height:100%;
      margin-left:6px;
      margin-right:6px;
      font-size:small/2.0em;
    }
nav  ul li a:hover {
      background-color:grey;
    }
/*设置凝胶布局，使整个内容布局居中*/
#tableContainer {
    display: table;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #tableRow {
    display: table-row;
  }
  /*左边部分的布局设置*/
  section#works {
    display: table-cell;
    background-color:bisque;
    width: 200px;
    padding: 15px;
    vertical-align: top;

  }
  /*标题设置*/
  #works h1 {
    font-size: 180%;
    color:lightsalmon;
  }
  /*左边部分文字内容的设置*/
  #works p{
    font-family: sans-serif;
    color:darkgoldenrod;
    font-weight:bolder;
    font-size:150%
  }
  /*右边部分的设置*/
  section#show{
    display: table-cell;
    background:bisque;
    font-size: 105%;
    padding: 15px;
    vertical-align: top;
    
  }

  #show h1{
    color:lightsalmon;
    font-family:Geneva;
    font-size:200%;
  }
  #show p{
    font-family:黑体;
    color:darkgoldenrod;
    font-weight:bolder;
    font-size:180%
  }

  /*页脚的设置，与前面一样*/
footer{
    display:block;
    margin-top:0px;
    background-color:beige;
    text-align: center;
    color:dimgray;
   
  }
h3{
    color:coral;
}

