body{
  position:relative;
  height:100%;
 background-color:antiquewhite;
  margin: 0px;
}
/*页眉区，与前面一样*/
header {
  background: url(../image/Snoopy.png) no-repeat;
  background-position:right;
  background-size: 50px 50px;

}
header h1{
    font-family:sans-serif;
    color:coral;
    font-size:small/3.0em;
    
    
}
/*导航区，与前面一样*/
nav{
    
    width: 100%;
    position:relative;  
   
}
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darksalmon;
  }
  
nav  ul li {
    display:inline;
    width:25%;
    height:100%;
    float:left;
    text-align: center;
    line-height: 400%;
    color: rgb(255, 255, 255);
    font-family:  Verdana;
  }
  
nav ul li a {
    display:block;
    color: white;
    text-decoration: none;
    text-align: center;
    height:100%;
    margin-left:6px;
    margin-right:6px;
    font-size:small/2.0em;
  }
nav  ul li a:hover {
    background-color:grey;
  }



/*表单的布局，设置成float布局*/
form {
display: table;
padding: 20px;
border: thin dotted;
border-color: bisque;
background-color:bisque;
float:right;
margin-top:20px;
width:280px;

}

div.tableRow {
display: table-row;

}

div.tableRow p {
display: table-cell;
vertical-align: top;
padding:5px;
  
}
/*first-child第一个标签设置成css的样式*/
div.tableRow label:first-child {
text-align: right;
}
p.heading {
  color:coral;
font-weight:bold;
}

#heads{
  color:coral;
  font-weight:bolder;
  font-family:Verdana;
  font-size:large;
}
/*我的世界部分字体的设置*/
.elixir{
  border:chocolate;
  width: 100px;
  color:coral;
  position: relative;
  margin-left:120px;
  height: 575px;
  padding-top: 100px;
  
}
/*页脚部分的设置*/
footer{
  display:block;
  margin-top:0px;
  background-color:beige;
  text-align: center;
  color:dimgray;
 clear:right;
}