body{
    margin: 0;
}

main{
    width:900px;
    margin-left: auto;
    margin-right: auto;
    background: url("banner.png");
    background-repeat: no-repeat;
    height:600px
}
.logo-inside {
    float:left;
    text-align:center;
    margin-top: -400px;
    width:100%;
}
a{
    color: darkgrey;
    position: absolute;
    margin-top: 50px;
    font-size:15px;
    text-decoration: none;
}
.person {
    margin: 4px 0 4px 26px;
    background: url("person.png") 10px 0 no-repeat;
}
.login_box_input {
    float: left;
    line-height: 34px;
    padding: 0 10px 0 33px;
    border:none;
    font-size: 14px;
    color: #999;
    border-radius: 3px;
    width: 310px;
    margin-top: 20px;
    border-width: 0;
    height: 30px;

}
.lock {
    margin: 10px 0 0;
}
.lock {
    margin: 6px 0 4px 26px;
    background: url("lock.png") 10px 0 no-repeat;
}
.login_button{
    width: 300px;
    height: 40px;
    position: absolute;
    margin-top: 100px;
    margin-left: -330px;
    background: linear-gradient(to right,#494aff,#4395ff );
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 6px 1px darkgrey;
    border: white;
    text-align: center;
}
.flex{
    display: flex;
    height:30px;
    flex-direction: row;
    margin-top: 160px;
    margin-left: 130px;
    justify-content: space-between;
}
h5{
    color: darkgrey;
    position: absolute;
    margin-top: 280px;
    margin-left: 160px;
}
.h5_1{
    color: darkgrey;
    position: absolute;
    margin-top: 170px;
    margin-left: -270px;
}
.a_1{
    text-decoration: none;
    color: #494aff;
    position: absolute;
    margin-top: 170px;
    margin-left: -150px;
}

@media (min-width:1000px) {
    main {
        width: 70%;
        margin-top: -150px;
    }

    .login_box_up {
        width:40%;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 12px 1px darkgrey;
        height:55%;
        margin-left: 460px;
        margin-right: auto;
        margin-top: -280px;
        position:absolute;
    }
    .login_button{
        font-size: 17px;
    }
    .flex{
        width:270px;
    }


}



@media(max-width:600px){
    main{
        width: 30%;
        margin: 30px 100px;
    }
    main{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        background: url("banner.png");
        background-repeat: no-repeat;
        background-position: -330px -300px;
        height:600px;
        margin-top: -100px;
    }
    a{
        margin-left:-60px;
    }
    .login_button{
        width: 330px;
        margin-left: -350px;
    }

    .login_box_input{
        margin-left: 50px;
    }
    h5{
        margin-left: 37%;
    }


    .flex{
        width: 250px;
        margin-left: 44%;
    }
}
